/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
storate/logs/*
storage/cache/*
storage/session/*
storage/views/*

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pai
.env.backup
.env.production
.phpactor.json
auth.json